/* 
primary colors
(green ish)
#b8e79c
rgba(184,231,156,255)

button
#6cb840


// yellow
#eaab1b


// hero bg
#e5e5e5


//hot deals bg
#c9ecb5

// footer bg
#f1faec

*/

/* import google font */

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800;900&display=swap');
/* global styles */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Nunito, serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #080808;
}

/* header */

header {
    padding: 20px 15px 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15;
}

header .nav {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-around;
}

.right-nav, .left-nav {
    width: 42%;
}

.right-nav {
    margin-left: auto;
}

.center-logo {
    width: 16%;
}

.nav .nav-item {
    padding: 0 15px;
    font-size: 19px;
    font-weight: 550;
}

.center-logo .logo-text {
    margin-top: -25px;
}

.center-logo .logo-text h1 {
    font-weight: 900;
}

/* responsive */

@media screen and (max-width: 767px) {
    header {
        padding-left: 5px;
        padding-right: 5px;
    }
}

/* hero section */

#home {
    background-color: #e5e5e5;
}

#home .hero {
    display: flex;
    align-items: center;
    padding-left: 50px;
    z-index: 100;
    position: relative;
}

.hero div {
    margin-top: 0px;
    max-width: 400px;
}

.hero h1 {
    font-weight: 900;
    font-size: 40px;
    color: #6cb840;
    margin-bottom: 0px;
}

.hero h1>span {
    color: #eaab1b;
}

.hero h3 {
    font-size: 35px;
    color: #404040;
    margin-top: 16px;
    margin-bottom: 16px;
}

.hero p {
    line-height: 33px;
    margin-bottom: 8px;
    font-size: 19px;
}

button.order-now{
    margin-top: 60px;
    padding: 20px 50px;
    font-size: 21px;
    border-radius: 50px;
    border: none;
    background: #6cb840;
    color: #fefefe;
    font-weight: 550;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.3s linear;
}

button.order-now:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #64aa3c;
}

.circular-bg {
    height: 1400px;
    width: 1400px;
    background-color: #b8e79c;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    transform: translate(60px, -50%) rotate(-45deg);
    z-index: 0;
    overflow: hidden;
}

.main-dish {
    position: absolute;
    transform: translate(50%, 1000px) translate(-50%, -50%);
    right: 760px;
    top: -34%;
}

.circular-menu {
    position: absolute;
    transform: translate(50%, 800px) translate(-70%, -20%) rotate(15deg);
    width: 600px;
    height: 600px;
    border-radius: 50%;
    border: dashed 3px #7dae62;
}

.circular-menu div {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -3em;
    width: 6em;
    height: 6em;
}

.circular-menu div:first-child {
    transform: rotate(-45deg) translate(19em) rotate(0deg);
}

.circular-menu div:nth-child(2) {
    transform: rotate(0deg) translate(19em) rotate(0deg);
}

.circular-menu div:nth-child(3) {
    transform: rotate(45deg) translate(19em) rotate(0deg);
}

.circular-menu div:nth-child(4) {
    transform: rotate(-90deg) translate(19em) rotate(0deg);
}

.circular-menu div:nth-child(5) {
    transform: rotate(-135deg) translate(19em) rotate(0deg);
}


/* eat together section */
#eat-together{
    margin-top: 80px;
}

/* utilities */

.d-flex {
    display: flex;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.text-center {
    text-align: center;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.d-none {
    display: none;
}